.header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
  font-size: 24px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header nav ul li {
  cursor: pointer;
}

.loginLink {
  color: #0070f3;
  text-decoration: none;
  font-size: 16px;
}

.loginLink:hover {
  text-decoration: underline;
}
