.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #eaeaea;
}

.logo {
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Grenze Gotisch", serif;
}

.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
}

.getStarted {
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}
.getStarted:hover {
  transform: scale(1.05);
}
.navLinks {
  color: #666666;
  transition: all 100ms;
}
.navLinks:hover {
  transform: scale(1.1);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem 0;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.description {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.startReading {
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms;
}
.startReading:hover {
  transform: scale(1.05);
}

.homepageImg {
  transform: scaleX(-1);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
}

.footer button {
  margin: 0 0.7rem;
  text-decoration: none;
  color: #666666;
  font-size: 12px;
}
