.logo {
  text-align: center;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Grenze Gotisch", serif;
  margin-top: 1rem;
}
.writingLeftImg{
  position: absolute;
  left: 0.5rem;
}
.writingRightImg{
  position: absolute;
  right: 0;
  transform: rotate(90deg);
}
.writingBottomRight{
  position: absolute;
  bottom: -3rem;
  right: 0;
}

.loginContainer {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.heading {
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.buttonsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}